html {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
}

#root {
    width: 50vw;
}

.top-container {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    background-color: grey;
}

form {
    display: flex; flex-direction: column; justify-content: center;
    margin: 20px; padding: 12px;
    border: 3px solid black;
    background-color: white;
    
    ul {
        list-style: none;
    }

    button {
        padding: 12px;
    }

    label, input, textarea {
        display: block;
    }
}

.information-section {
    display: flex; flex-direction: column; justify-content: center; align-items: center;

    .general-info {
        display: flex; justify-content: center; align-items: center; gap: 16px;
        margin: 8px; padding: 8px;
    }
}

.btns-container {
    display: flex; justify-content: center; align-items: center; gap: 8px;
    margin: 8px;
}

.education-list.visible {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    padding: 12px;

    button {
        margin: 12px auto;
    }
}
.education-list.hidden {
    display: none;
}

.experience-list.visible {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    padding: 12px;

    button {
        margin: 12px auto;
    }
}
.experience-list.hidden {
    display: none;
}

.cv-container {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    margin: 12px;
    background-color: white;
    border: 3px solid black;
}

.cv-general-info {
    display: grid; justify-content: center;
    width: 100%;
    grid-template-rows: 1fr 1fr; grid-template-columns: 1fr 1fr;

    #gen-name {
        justify-self: center;
        grid-row: 1;
        grid-column: span 2;
        font-size: 30px;
    }    

    #gen-email {
        justify-self: flex-end;
        grid-row: 2;
        padding-right: 12px;
    }

    #gen-phone {
        grid-row: 2;
        padding-left: 12px;
    }
}

.cv-education-info, .cv-experience-info {
    align-self: flex-start;
    display: grid; grid-template-rows: 1fr 1fr; align-items: center;
    width: calc(100%  - 24px); 
    padding: 12px;
}

.cv-education-info {
    #education-title {
        grid-row: 1/2;
    }
    
    .education-ul {
        list-style-type: none;
        margin: 0;
    }
    
    li > b {
       font-size: 20px; 
    }
}

.cv-experience-info {
    #experience-title {
        grid-row: 1/2;
    }
    
    .experience-ul {
        list-style-type: none;
        margin: 0;
    }

    li > b {
       font-size: 20px; 
    }

    ul > li {
        list-style: none;
    }
}

@media (max-width: 1024px) {
    #root {
        height: 150vw;
    }

    form {
        position: absolute; left: 50%;
        transform: translateX(-50%);
        width: 70vw;
        margin: 0 auto;
    }

    .general-info {
        display: flex; flex-direction: column; justify-content: center; align-content: center;
    }

    .cv-container {
        position: absolute; left: 50%;
        transform: translateX(-50%);
        width: 70vw;
        margin: 0 auto;
    }

    .cv-general-info {
        #gen-email {
            padding-left: 12px;
        }

        #gen-phone {
            justify-self: flex-start;
            padding-left: 12px;
        }
    }

}